In [16]:
import numpy as np
import os
"""get triggers rel to beginning
triggers are in fact present at each noise end (from 0 to 1)"""

'get triggers rel to beginning\ntriggers are in fact present at each noise end (from 0 to 1)'

In [17]:
datadir = "/Users/duyckmf/Dropbox/audmem/20191210_Marianne/stims"
fn = '2019-12-10-18-23-57_seed200_design.txt'

datfn = os.path.join(datadir, fn)

In [18]:
def _getTriggersFromDesign(file_path):
    import pandas as pd
    """
    Gets array of timing of triggers in s relative to beginning of the block (using 'ID_design.txt' file)
    As a reminder, triggers are in fact present at the end of each noise end 
    (transition from 0 to 1 - from noise to silence) of the indicator.wav audio file
    """
    dat = pd.io.parsers.read_csv(file_path, sep='\t')
    triggers = np.insert(np.cumsum(dat["dur"].values)[dat["cond"] != 'silence'], 0, 0)
    print("%d triggers from design: "%(len(triggers)))
    return triggers

In [19]:
_getTriggersFromDesign(datfn)

65 triggers from design:

array([  0.        ,   5.31421769,  10.11351474,  15.38226757,
        20.02748299,  24.84331066,  29.66419501,  34.54231293,
        39.37045351,  44.45263039,  49.7239229 ,  54.43741497,
        59.35258503,  64.83721088,  69.81106576,  75.12126984,
        79.79122449,  84.57278912,  89.98274376,  94.62539683,
       100.08464853, 105.3430839 , 110.80090703, 115.3899093 ,
       119.96773243, 125.04755102, 130.24013605, 135.06079365,
       140.0700907 , 145.1924263 , 150.44918367, 155.1454195 ,
       160.40646259, 164.9547619 , 169.88126984, 174.42206349,
       179.6837415 , 184.74496599, 190.15006803, 194.98535147,
       200.16099773, 204.69746032, 210.13537415, 214.9007483 ,
       219.81678005, 224.79439909, 229.56478458, 235.03      ,
       239.66444444, 244.78126984, 249.90988662, 255.35605442,
       259.96131519, 265.07863946, 270.05426304, 275.19213152,
       280.68927438, 285.45090703, 290.59605442, 295.97321995,
       301.06807256, 305.78344671, 310.96575964, 315.61537415,
       320.46260771])

In [4]:
root = '/Users/duyckmf/Dropbox/audmem/20191210_Marianne/stims'

In [5]:
root

'/Users/duyckmf/Dropbox/audmem/20191210_Marianne/stims'

In [7]:
files = []
import os
for file in os.listdir(root):
    if file.endswith("_design.txt"):
        files.append(file)

In [12]:
files.sort()

In [13]:
files

['2019-12-10-18-23-57_seed200_design.txt',
 '2019-12-10-18-24-00_seed201_design.txt',
 '2019-12-10-18-24-04_seed202_design.txt',
 '2019-12-10-18-24-07_seed203_design.txt',
 '2019-12-10-18-24-11_seed204_design.txt',
 '2019-12-10-18-24-16_seed205_design.txt']

In [26]:
a = [file for file in sorted(os.listdir(root)) if file.endswith("_design.txt")]

In [29]:
import pandas as pd

In [55]:
dat = pd.DataFrame()
for block in range(len(a)):
    this_time = pd.DataFrame()
    this_dat = pd.io.parsers.read_csv(os.path.join(root, a[block]), sep='\t')
    this_block_triggers = np.insert(np.cumsum(this_dat["dur"].values)[this_dat["cond"] != 'silence'], 0, 0)
    this_time['trigg_times'] = this_block_triggers
    this_time.insert(0, 'block ID', block)
    dat = dat.append(this_time)

In [41]:
import numpy as np
np.unique(dat["block ID"])

array([0, 1, 2, 3, 4, 5])

In [57]:
len(dat)

390

In [51]:
dat

    block ID  trigg_times
0          0     0.000000
1          0     4.914807
2          0    10.349705
3          0    15.184150
4          0    20.363039
5          0    25.089751
6          0    30.099297
7          0    35.578435
8          0    40.633537
9          0    45.654626
10         0    50.322109
11         0    55.562653
12         0    60.304739
13         0    65.760340
14         0    71.143424
15         0    76.019184
16         0    80.883810
17         0    86.012834
18         0    90.625646
19         0    95.374127
20         0   100.005510
21         0   105.482086
22         0   110.415918
23         0   115.274535
24         0   120.374649
25         0   125.754853
26         0   130.308231
27         0   135.175510
28         0   139.931927
29         0   144.611678
..       ...          ...
35         0   173.978458
36         0   179.167755
37         0   184.256803
38         0   189.687574
39         0   195.135488
40         0   200.070567
41         0   205.564195
42         0   211.019002
43         0   216.416757
44         0   221.504218
45         0   226.801451
46         0   231.872948
47         0   236.574467
48         0   241.946848
49         0   246.787143
50         0   252.139206
51         0   257.348639
52         0   262.619342
53         0   267.397324
54         0   272.589252
55         0   277.859161
56         0   282.455420
57         0   287.729683
58         0   292.233492
59         0   297.353288
60         0   302.139819
61         0   307.552109
62         0   312.642245
63         0   317.169592
64         0   321.849456

[65 rows x 2 columns]